<h2 class="title">For all of your shoe video needs</h2>
<hr>
<br>
<h3 class="title"><a href="/videos/new">Upload New Video</a><h3>
<% @videos.each do |video| %>
  <h2 class="videotitle"><%= video.title %></h2>
  <hr>
  <iframe width="560" height="315" src ="<%=video.url %>" frameborder="0" allowfullscreen></iframe>
  <p>Description:</p>
  <p><%= video.description %></p>
  <p>Genre: </p>
  <p><%= video.genre %></p>
  <a href="/videos/<%= video.id %>">View</a>
  <a href="/videos/<%= video.id %>/edit">Edit</a>

  <form action="/videos/<%= video.id %>" method="POST"> 
    <input type="hidden" name="_method" value="DELETE"> 
    <input type="submit" value="Delete">
  </form>
  <br>
  <br>

  <% end %>
